body {
    margin: 0;
    padding: 0 10px;
    height: 100vh;
    background-color: rgba(5, 4, 26, 0.728);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    margin: 0;
}

.form {
    margin: 0;

}

.bookmark-list {
    padding: 20px;
    border: solid 1px rgba(255, 255, 255, 0.708);
}

.empty {
    list-style: none;
}

.hidden {
    display: none;
}

i {
    color: gold;
}

@media only screen and (min-width: 750px) {
    body {
        padding: 0 20px;
    }

    .form {
        display: flex;
    }
}